<h3>Highest rated recipes:</h3>
<br>
<div class= "list">
  <ul class= "list">
  <% Recipe.sort_by_average_score.each do |recipe| %>
    <li class= "list"> <%= link_to recipe.name, recipe_path(recipe) %> Score: <%= recipe.average_score %> </li>
  <% end %>
  </ul>
</div>