<div class= "list_recipes container">
  <h3 class="recipes">Recipes</h3> <br>
  <ul class= "list_recipes">
  <% @recipes.each do |recipe| %>
    <li class= "list_recipes"> <%= link_to recipe.name, recipe_path(recipe) %> </li>
  <% end %>
  </ul>
  <br>
  <h5 class="recipes"> <%= link_to "Add a new recipe", new_recipe_path %> </h4> <br>
</div>
