<div class= "list">
<h3>Nutrients</h3> <br>
<ul class="list">
<% @nutrients.each do |nutrient| %>
  <li class= "list"> <%= link_to nutrient.name, nutrient_path(nutrient) %> </li>
<% end %>
</ul>
</div>