<div class= "list">
  <h3>Users</h3> <br>
  <ul class= "list">
  <% @users.each do |user| %>
    <div>
    <li class= "list"><%= link_to user.email, user_path(user) %></li>
    <button class="js-more" data-id="<%= user.id %>">User's recipes</button>
    </div>
  <% end %>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").one("click", function(event) {
    var ul = event.target.parentNode;
    var button = event.target;
    console.log(ul);
    var id = $(this).data("id");
    $.get("/users/" + id + ".json").success(function(json) {
      if (json.recipes.length > 0) {
        $(button).hide();
        json.recipes.forEach(function(recipe){
          console.log(recipe);
          $(ul).append('<li>' + '<a href="/recipes/' + recipe.id + '">' + recipe.name + '</a>' + '</li>');          
      })}
    });
  });
});
</script>