<div class= "list_recipes container">
<h3 class="recipes">Ingredients</h3> <br>

  <ul class="list_recipes">
  <% @ingredients.each do |ingredient| %>
    <div>
      <li class= "list_ingredients"> <%= link_to ingredient.name, ingredient_path(ingredient) %>
        <button class="js-shownutrients" data-id="<%= ingredient.id %>">Show Nutrients</button>
      </li>
    </div>
  <% end %>
  </ul>
</div>

<h3> <%= link_to "Add ingredient", new_ingredient_path %> </h3>