<h2><%= @ingredient.name %> </h2>

<% if !@ingredient.recipes.empty? %>
  <div class= "list">
  <h4>Used in these recipes:</h4>
  <% @ingredient.recipes.each do |recipe| %>
  <ul class= "list">
    <li class= "list"> <%= link_to recipe.name, recipe_path(recipe) %> </li>
  <% end %>
  </ul>
<% end %>

<% if !@ingredient.nutrients.empty? %>
  <div class= "list">
  <% @ingredient.nutrients.each do |nutrient| %>
  <ul class= "list">
    <li class= "list"> <%= nutrient.name %> </li>
  <% end %>
  </ul>
<% end %>