<h3> <%= @recipe.name %> </h3>
<% if @photos.count > 0 %>
  <% @photos.each do |photo|%>
  <%= image_tag photo.image %>
  <% end %>
<% else %>
  <p>There are no photos of this recipe yet.<p>
<% end %>

<h3> <%= link_to "Upload a photo", new_recipe_photo_path %> </h3>